body {
    background-color: #f6f6f6;
    font-family: serif;
}

.header {
    background: white;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.logo {
    font-size: 28px;
    color: #7d5a4f;
}

.header-btn {
    margin-left: 15px;
    text-decoration: none;
    color: #7d5a4f;
}

button {
    background: #7d5a4f;
    color: white;
    padding: 8px 20px;
    border: none;
}