.confirm {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.confirm__heading {
  text-align: center;
  margin-bottom: 40px;
}

.confirm-wrapper {
    max-width: 800px;   /* 横幅を制限 */
    margin: 0 auto;     /* 中央寄せ */
}

.confirm-table {
  width: 100%;
  border-collapse: collapse;
}

.confirm-table th {
  width: 30%;
  background-color: #8b7969;
  color: #fff;
  padding: 15px;
  text-align: left;
}

.confirm-table td {
  padding: 15px;
  border: 1px solid #ddd;
}

.confirm__button {
  text-align: center;
  margin-top: 30px;
}

.confirm__button-submit {
  background: #8b7969;
  color: #fff;
  padding: 10px 40px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

.confirm__button-back {
  background: #ddd;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
}